<% if (recipe != null) { %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%- recipe.name %></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            <img src="/uploads/<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- recipe.name %>" Loading="lazy">
            <form id="favorite-button">
                <div class="col-12">
                    <input type="hidden" name="id" value="<%= recipe._id %>">
                    <button class="btn btn-primary mt-2 favorite-submit">Add to Favorites</button>
                </div>
            </form>
        </div>


        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12"><h1><%- recipe.name %></h1></div>
                <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- recipe.category %></div>
            </div>
            <div class="row pt-4">
                <div class="col-12">
                    <h4>Description</h4>
                    <p style="padding: 0.5rem 1rem; white-space: pre-line;"><%- recipe.description %></p>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-12">
                    <h4>Ingredients</h4>
                    <ul class="list-group list-group-flush">
                        <% recipe.ingredients.forEach(function(ingredients, index){ %>
                            <li class="list-group-item"><%= ingredients %></li>
                    <% }) %>   
                    </ul>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-12">
                    <h4>Cooking Instructions</h4>
                    <ul class="list-group list-group-flush">
                        <% recipe.instructions.forEach(function(instructions, index){ %>
                            <li class="list-group-item"><%= instructions %></li>
                    <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <p>No item found.</p>
    <% } %>

    <script src="/js/favoriteButton.js"></script>

